.contenedor {
	margin: 0 auto;
	max-width: 900px;
}

#pie {
	height: 30px;
	background-color: black;
	margin-top: 10px;
	text-align: center;
	color: white;
}

.table th, .table td {
	vertical-align: middle;
	text-align: center;
}